.footer {
  border-top: 1px solid #89919a;
  width: 100%;
  display: inline-flex;
}

.footerList {
  display: flex;
  color: #89919a;
}

.footerList li {
  list-style-type: none;
  border-right: 1px solid #89919a;
  text-align: center;
  padding: 5px 10px;
}

.footerList li a {
  color: #89919a;
}

.footer .footerParagraph {
  color: #89919a;
  width: 68%;
  text-align: center;
}