* {
  margin: 0;
  padding: 0;
}

.toolbar {
  height: 55px;
}

.underNav {
  background: #0e1117;
  height: 2vh;
}

.menuList {
  height: 5vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 100px;
}

.toolbar .menuList {
  cursor: pointer;
}

.toolbar .menuList a {
  text-decoration: none;
  color: #89919a;
  font-size: 18px;
  font-weight: 600;
}

.toolbar .menuList:hover {
  background: #0e1117;
  margin: 0;
  padding: 0;
  border-top: 1px solid white;
  height: 100%;
}

.toolbar .menuList:active {
  background: #0e1117;
  margin: 0;
  padding: 0;
  height: 100%;
}
