.explorer {
  background-color: #020409;
  color: #89919a;
  width: 20%;
  position: absolute;
  right: 0;
  height: 95%;
  z-index: 99;
  margin-top: -79px;
  border-left: 1px solid #89919a;
}

.explorer h4 {
  padding: 5px;
}

.explorer .title {
  margin: 18px 30px;
  font-weight: 600;
  font-size: 18px;
}

.skillTitle {
  line-height: 2;
  letter-spacing: 1px;
}
